# ================================
#           Операционные системы
# ================================

### Mac OS ###
.DS_Store
*.DS_Store
**/.DS_Store
Thumbs.db*

# ================================
#         Среды разработки
# ================================

### IDE ###
.vscode/
.idea/
node_modules/
package-lock.json